@{
    ViewBag.Title = "Order Completed";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <div class="hero-image">
                        <h1 class="display-4">Hey Buddy! Thanks for your order.</h1>
                        
                        <a href="@Url.Action("Home", "Index")" class="btn btn-light btn-lg mt-4">Goto Home Page</a>
                    </div>

                
                </div>
            </div>
        </div>
    </div>
</div>
