@model IEnumerable<TechWave.Models.DomainModel.Category>

@{
    ViewData["Title"] = "Manage Categories";
}

<h2>Manage Categories</h2>

<p>
    <a asp-action="Add" class="btn btn-primary">Add New Category</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.CategoryID" class="btn btn-primary">Edit</a>
                    <form method="post" asp-action="Delete" asp-route-id="@category.CategoryID">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
