@page
@{
    ViewData["Title"] = "Server Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            color: white;
            text-align: center;
            padding: 50px;
        }

        .logo {
            width: 150px;
        }

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.5em;
        }

        a {
            color: #ffd700;
            text-decoration: none;
            font-size: 1.2em;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <img src="/image/logo.png" alt="Logo" class="logo" />
    <h1>500 - Server Error</h1>
    <p>Sorry, an error occurred on the server.</p>
    <a href="@Url.Action("Index", "Home")">Return to Home</a>
</body>
</html>
