@model TechWave.Models.ViewModel.UserViewModel

@{
    ViewData["Title"] = " | Manage Users";
}

<div class="container">
    <h1 class="manage-users-title">Manage Users</h1>
    <a asp-action="Add" class="btn manage-users-add-btn">Add a User</a>
    <table class="table manage-users-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users.Count() == 0)
            {
                <tr>
                    <td colspan="2">There are no user accounts.</td>
                </tr>
            }
            else
            {
                @foreach (TechWave.Models.DomainModel.User user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <div class="btn-group manage-users-btn-group" role="group">
                                <form method="get" asp-action="Edit" asp-route-id="@user.Id">
                                    <button type="submit" class="btn manage-users-edit-btn">Edit User</button>
                                </form>
                                <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                                    <button type="submit" class="btn manage-users-delete-btn">Delete User</button>
                                </form>
                                
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
