html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Navbar Styles */
.navbar {
    background-color: #212529;
    border-bottom: 2px solid #007bff;
}

.navbar-brand {
    margin-left:3%;
    width:25vh;
}


.nav-link {
    color: #ccc !important;
    margin-right: 15px;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 4px;
}

    .nav-link:hover {
        color: #fff !important; 
        box-shadow: 0 0 0 2px #808080;
        border-radius: 4px;
    }


.btn-outline-light {
    color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .btn-outline-light:hover {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

.text-light {
    color: #ccc !important;
    margin-left: 10px;
}

.hero-image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//image/hero1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -15px;
    padding: 150px 0;
    color: white;
    text-align: center;
    position: relative;
}

    .hero-image h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .hero-image p {
        font-size: 1.25rem;
        margin-bottom: 30px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
    }

    .hero-image .btn {
        padding: 10px 20px;
        font-size: 1.25rem;
        border-radius: 5px;
    }
footer {
    background-color: #343a40;
    color: white;
    padding: 30px 0;
}
    footer .container-fluid .row {
        margin-left: 20px;
    }
footer a {
        color: #adb5bd;
        text-decoration: none;
}

footer a:hover {
            color: #f8f9fa;
            text-decoration: underline;
}
